{% extends 'ecom/admin_base.html' %}
{% load static %}

{% block content %}



<div class="container">
<br>
{%include 'ecom/admin_dashboard_cards.html'%}
<br><br><br><br><br>
</div>
<div class="container">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description">
    Proyeccion de ventas
  </p>
</figure>
<script type="text/javascript">
  Highcharts.chart('container', {
  chart: {
    type: 'bar'
  },
  title: {
    text: 'Historico de ordenes solicitadas y cumplidas por producto'
  },
  subtitle: {
    text: ''
  },
  xAxis: {
    categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    title: {
      text: null
    }
  },
  yAxis: {
    min: 0,
    title: {
      text: 'Ventas (miles)',
      align: 'high'
    },
    labels: {
      overflow: 'justify'
    }
  },
  tooltip: {
    valueSuffix: ' thousands'
  },
  plotOptions: {
    bar: {
      dataLabels: {
        enabled: true
      }
    }
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'top',
    x: -40,
    y: 80,
    floating: true,
    borderWidth: 1,
    backgroundColor:
      Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
    shadow: true
  },
  credits: {
    enabled: false
  },
  series: [{
    name: 'Producto ',
    data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  },{
    name: 'Producto ',
    data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  }, {
    name: 'Producto ',
    data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  }, {
    name: 'Producto ',
    data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  }, {
    name: 'Producto ',
    data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  }]
});
</script>

  

</div>
<hr><hr>
<div class="container" >

    <div class="panel panel-primary" >
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Ordenes Recientes</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Nombre Cliente</th>
            <th>Numero telefonico</th>
            <th>Direccion de envio</th>
            <th>Nombre del producto</th>
            <th>Imagen Producto</th>
            <th>Estatus</th>

          </tr>
        </thead>
        {% for product,customer,order in data %}
        <tr>
          {% for c in customer %}
          <td> {{c.get_name}}</td>
          <td>{{c.mobile}}</td>
          <td>{{order.address}}</td>

          {% endfor %}
          {% for p in product %}
          <td> {{p.name}}</td>
          <td> <img src="{% static p.product_image.url %}" alt="Profile Pic" height="40px" width="40px" /></td>

          {% if order.status == 'Pending'%}
          <td> <span class="label label-info">{{order.status}}</span></td>
          {% elif order.status == 'Delivered' %}
          <td> <span class="label label-success">{{order.status}}</span></td>
          {% elif order.status == 'Out for Delivery' %}
          <td> <span class="label label-warning">{{order.status}}</span></td>
          {%else%}
            <td> <span class="label label-primary">{{order.status}}</span></td>
          {%endif%}
          {% endfor %}
        </tr>
        {% endfor %}


      </table>


  </div>
</div>



{% endblock content %}
