{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<head>

</head>
<style media="screen">

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
</style>
<br><br>
<br><br>
<div class="container" style="text-align:center; padding-left:300px;">
    <div class="row">
        <div class="col-xs-12 col-md-4" style="height:500px; width:600px;">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right">{{total}}</span> Total del pago a realizar</a>
                </li>
            </ul>
            <br/>
            <a href="/payment-success" class="btn btn-success btn-lg btn-block" role="button">Procesar</a>
        </div>
    </div>
</div>


{% endblock content %}
